
.idea/

keras-cache/

api/__pycache__/

api/upload/

webapp/node_modules/

**/.ipynb_checkpoints/

*/__pycache__/

training/training_checkpoints/

web/dist/
training/features/

training/mlp795.joblib
